	<div class="section" style="width: 95.7%; overflow:hidden;">
	<h2>Galería de imágenes</h2>
<br>
	<div class="feature">
		<div class="camera_wrap camera_charcoal_skin" id="camera_wrap">
			<div data-thumb="/assets/slideshow/index/thumbs/slide1.jpg" data-src="/assets/slideshow/index/slide1.jpg">
                <div class="camera_caption fadeFromBottom">
                    Hotel Carolina Del Mar.
                </div>
            </div>
			<div data-thumb="/assets/slideshow/index/thumbs/slide2.jpg" data-src="/assets/slideshow/index/slide2.jpg">
                <div class="camera_caption fadeFromBottom">
                    Hotel Carolina Del Mar.
                </div>
            </div>
			<div data-thumb="/assets/slideshow/index/thumbs/slide3.jpg" data-src="/assets/slideshow/index/slide3.jpg">
                <div class="camera_caption fadeFromBottom">
                    Hotel Carolina Del Mar.
                </div>
            </div>
			<div data-thumb="/assets/galeria/thumbs/atardecer1.jpg" data-src="/assets/galeria/atardecer1.jpg">
                <div class="camera_caption fadeFromBottom">
                    Atardecer en El Almejal (Bahía Solano).
                </div>
            </div>
			<div data-thumb="/assets/galeria/thumbs/atardecer2.jpg" data-src="/assets/galeria/atardecer2.jpg">
                <div class="camera_caption fadeFromBottom">
                    Atardecer en El Almejal (Bahía Solano).
                </div>
           </div>
			<div data-thumb="/assets/slideshow/index/thumbs/slide6.jpg" data-src="/assets/slideshow/index/slide6.jpg">
                <div class="camera_caption fadeFromBottom">
                    Tebada (Bahía Solano).
                </div>
            </div>
			<div data-thumb="/assets/slideshow/index/thumbs/slide7.jpg" data-src="/assets/slideshow/index/slide7.jpg">
                <div class="camera_caption fadeFromBottom">
                    Playa de Mecana.
                </div>
            </div>
			<div data-thumb="/assets/galeria/thumbs/esqui.jpg" data-src="/assets/galeria/esqui.jpg">
                <div class="camera_caption fadeFromBottom">
                    Deportes acuáticos.
                </div>
            </div>
			<div data-thumb="/assets/slideshow/index/thumbs/slide4.jpg" data-src="/assets/slideshow/index/slide4.jpg">
                <div class="camera_caption fadeFromBottom">
                    Cascada de Nabugá.
                </div>
            </div>
			<div data-thumb="/assets/galeria/thumbs/cascadaNab2.jpg" data-src="/assets/galeria/cascadaNab2.jpg">
                <div class="camera_caption fadeFromBottom">
                    Cascada de Nabugá.
                </div>
            </div>
			<div data-thumb="/assets/galeria/thumbs/aves1.jpg" data-src="/assets/galeria/aves1.jpg">
                <div class="camera_caption fadeFromBottom">
                    Avistamiento de aves.
                </div>
            </div>
			<div data-thumb="/assets/galeria/thumbs/aves2.jpg" data-src="/assets/galeria/aves2.jpg">
                <div class="camera_caption fadeFromBottom">
                    Avistamiento de aves.
                </div>
            </div>
			<div data-thumb="/assets/galeria/thumbs/aves3.jpg" data-src="/assets/galeria/aves3.jpg">
                <div class="camera_caption fadeFromBottom">
                    Avistamiento de aves.
                </div>
            </div>
		</div>
	</div>
</div>

<script>
	jQuery(function(){
		jQuery('#camera_wrap').camera({
			height: '500px',
			loader: 'bar',
			pagination: false,
			thumbnails: true
		});
	});
</script>
