	<div class="section" style="width: 95.7%">
	<h2 style="width:70%">Plan Avistamiento de Ballenas: 4 días 3 noches</h2>
	<br><br>
	<p>A finales del julio de este año, comienza un fascinante e increíble espectáculo de la naturaleza. La gigante Ballena Yubarta visita a Bahía Solano, como parte de su recorrido desde el sur de Chile hasta Costa Rica, buscando aguas cálidas en temporada de reproducción. Hasta finales de septiembre podrás disfrutar de los secretos de la naturaleza del Pacífico Colombiano
	</p>
	<div style="clear: both"></div>
	<div class="one-half">
	<p><span style="color:#c40100">INVERSIÓN:</span> por solo $850.000 (OCHOCIENTOS CINCUENTA MIL PESOS) por persona (Cuatro días, Tres noches); harás el regalo más fabuloso para ti y los tuyos. Los niños entre 5 y 10 años solo pagaran $680.000 (SEISCIENTOS OCHENTA MIL PESOS). </p>
	<p><span style="color:#c40100">FECHA:</span> entre el 15 de julio y 10 de octubre de 2016.</p>
	<p><span style="color:#c40100">EL PLAN INCLUYE:</span></p>
		<ul>
			<li style="list-style-image: url('/assets/iconos/flecha.gif'); list-style-position: inside;">Tiquetes aéreos Medellín-Bahía Solano-Medellín o Quibdó-Bahía Solano-Quibdó incluyendo tasas aeroportuarias.</li>
			<li style="list-style-image: url('/assets/iconos/flecha.gif'); list-style-position: inside;">Alojamiento en habitación Estándar, Doble o Triple con baño privado, Tv Pantalla plana, Ventilador, Wi-Fi, escritorio</li>
			<li style="list-style-image: url('/assets/iconos/flecha.gif'); list-style-position: inside;">Alimentación: Desayuno, almuerzo y cena.</li>
			<li style="list-style-image: url('/assets/iconos/flecha.gif'); list-style-position: inside;">Traslado aeropuerto-hotel-aeropuerto en Bahía Solano.</li>
			<li style="list-style-image: url('/assets/iconos/flecha.gif'); list-style-position: inside;">Dos fantásticos Tours a las playas más exóticas del Pacífico.</li>
			<li style="list-style-image: url('/assets/iconos/flecha.gif'); list-style-position: inside;">Avistamiento de Ballenas (2 horas).
			<li style="list-style-image: url('/assets/iconos/flecha.gif'); list-style-position: inside;">Guía turístico.</li>
			<li style="list-style-image: url('/assets/iconos/flecha.gif'); list-style-position: inside;">IVA y Seguro Hotelero.</li>
		</ul>
	<p><span style="color:#c40100">PLAN NO INCLUYE:</span></p>
		<ul>
			<li style="list-style-image: url('/assets/iconos/flecha.gif'); list-style-position: inside;">Gastos no especificados en el plan.</li>
			<li style="list-style-image: url('/assets/iconos/flecha.gif'); list-style-position: inside;">Consumos en el hotel.</li>
			<li style="list-style-image: url('/assets/iconos/flecha.gif'); list-style-position: inside;">Gastos ocasionados por cancelación de vuelos.</li>
		</ul>
	</div>
	<div class="one-half">
		<p>&nbsp;</p><p>&nbsp;</p>
		<img src="/assets/planes/Poster.jpg" width="480"/>

    </div>

	<div style="clear: both"></div>
		<p><span style="color:#c40100">T&Eacute;RMINOS Y CONDICIONES</span></p>
		<ul>
			<li style="list-style-image: url('/assets/iconos/flecha.gif'); list-style-position: inside;">Anticipo por persona al reservar, no reembolsable $ 500.000 y pago total 8 días antes de la fecha de viaje.</li>
			<li style="list-style-image: url('/assets/iconos/flecha.gif'); list-style-position: inside;">Si el cliente solicita habitación Suit Deluxe con Tina Hidromasajes y Balcón el paquete tendrá un costo adicional de $150.000 pesos.
			<li style="list-style-image: url('/assets/iconos/flecha.gif'); list-style-position: inside;">Si el cliente solicita una Habitación Superior, es decir, con aire Acondicionado el paquete tendrá un costo adicional de $ 100.000 pesos.
			<li style="list-style-image: url('/assets/iconos/flecha.gif'); list-style-position: inside;">El desayuno está disponible para los huéspedes hasta las 9:00 am.</li>
			<li style="list-style-image: url('/assets/iconos/flecha.gif'); list-style-position: inside;">Hasta 2 niños menores de 4 años se pueden alojar gratis, con sus padres o tutores. Desayuno no incluido para menores de 4 años.</li>
			<li style="list-style-image: url('/assets/iconos/flecha.gif'); list-style-position: inside;">Los niños de 4 hasta 10 años pagarán la tarifa estipulada para este rango de edad.</li>
			<li style="list-style-image: url('/assets/iconos/flecha.gif'); list-style-position: inside;">El Hotel Carolina del Mar es un establecimiento libre de humo de cigarrillo o de tabaco, fumar en las habitaciones o 
				áreas públicas no está permitido, existen penalidades en caso de incumplir con esta norma.</li>
			<li style="list-style-image: url('/assets/iconos/flecha.gif'); list-style-position: inside;">Los cargos adicionales deben pagarse durante la estancia.</li>
			
		</ul>


	<p>
El Hotel Carolina del Mar, además de su confortable hospedaje y su variada gastronomía del pacífico colombiano, le ofrece dentro de paquete la oportunidad de realizar diferentes tours a las playas más exóticas de la región. En tal sentido, será inolvidable para nuestros visitantes, disfrutar de las playas de Punta Huina, playas el Almejal, caminata ecológica al Salto de agua dulce cerca del aeropuerto y entretenimiento cultural del Pacífico.		
	</p>		
		<p>Para tranquilidad de nuestros clientes cualquiera de los paquetes elegidos garantizará nuestro acompañamiento permanente para su entera satisfacción:
			La ruta a las playas incluye: transporte y una bebida fría o bebida exótica del pacífico.
			En todas las playas se contará con un guía turístico.
			La alimentación la garantiza el Hotel Carolina del Mar SAS independientemente del lugar de esparcimiento.
			Las embarcaciones transportadoras son cómodas y modernas, cumplen con las normas de seguridad y cuentan con conductores expertos.<a href="/entidad/index"> << Regresar</a>
</p>
	</div>
	
	<p>&nbsp;</p>
<div style="clear:both"></div>