	<div class="section" style="width: 95.7%">
	<h2>Quiénes somos</h2>
	<p>El HOTEL CAROLINA DEL MAR le ofrece renovados espacios para reuniones, banquetes y  eventos sociales. La alta concepción
	   que sentimos del noble ejercicio de la hospitalidad nos compromete a buscar la excelencia en el servicio, brindando las 
	   más apropiadas soluciones a las necesidades de nuestros huéspedes (alojamiento, alimentos y bebidas típicas, comunicaciones,
	   recreación, pesca deportiva, entre otras).
	</p>
	</div>
	<p>&nbsp;</p>
	<ul id="tabify_menu" class="menu_tab menu_tab_title" style="margin: 0;">
		<li class="active"><a href="#fane1">Misión</a></li>
		<li><a href="#fane2">Visión</a></li>
		<li><a href="#fane3">¿Por qué elegirnos? </a></li>
	</ul>
	
	<div id="fane1" class="tab_content">
		<!--h3>Misión</h3-->
		<p>El HOTEL CAROLINA DEL MAR es un empresa turística con responsabilidad social, amigable con el medio ambiente
		   y propiciadora de agradables momentos de descanso y disfrute con la naturaleza exuberante del océano Pacífico
		   mediante sus comodos espacios físicos, ofreciendo servicios de hospedería, alimentación, pesca deportiva, realización
		   de grandes eventos y recreación familiar.
		</p>
	</div>
	<div id="fane2" class="tab_content">
		<!--h3>Visión</h3-->
		<p>Al año 2020, el HOTEL CAROLINA DEL MAR, será reconocido en el Pacífico Colombiano como un establecimiento ejemplar
		   en la planeación, organización y ejecución de todo tipo de eventos sociales, turísticos, culturales y deportivos en
		   ambientes apropiados conservando su enfoque social y ecológico.
		</p>
	</div>
	<div id="fane3" class="tab_content">
		<!--h3>¿Por qué elegirnos?</h3-->
			<ul>
				<li style="list-style-image: url('/assets/iconos/flecha.gif');">En el HOTEL CAROLINA DEL MAR nuestra prioridad es el bienestar de nuestros clientes. </li>
				<li style="list-style-image: url('/assets/iconos/flecha.gif');">Ofrecemos nuestros servicios con la calidad y oportunidad que usted espera.</li>
				<li style="list-style-image: url('/assets/iconos/flecha.gif');">Atendemos sus recomendaciones para ser mejorar cada día nuestros servicios.</li>
			</ul>
	</div>    


<div style="clear:both"></div>