<div class="section" style="width: 95.7%">
	<h1>T&eacute;rminos y Condiciones</h1>
	<br>
	<ul>
		<li>&nbsp;</li>
		<li style="list-style-image: url('/assets/iconos/flecha.gif'); list-style-position: inside;">La tarifa por noche se establece con base en acomodación doble, incluyen desayuno e Internet Wifi.</li>
		<li style="list-style-image: url('/assets/iconos/flecha.gif'); list-style-position: inside;">El desayuno está disponible para los huéspedes hasta las 9:00 am.</li>
		<li style="list-style-image: url('/assets/iconos/flecha.gif'); list-style-position: inside;">1 menor de 2 año(s) se puede alojar gratis en una cuna. (Previa reserva y sujeto a disponibilidad).</li>
		<li style="list-style-image: url('/assets/iconos/flecha.gif'); list-style-position: inside;">Hasta 2 menores entre 2 y 10 años se pueden alojar gratis, con sus padres o tutores. </li>
		<li style="list-style-image: url('/assets/iconos/flecha.gif'); list-style-position: inside;">Desayuno no incluido para menores de 10 años.</li>
		<li style="list-style-image: url('/assets/iconos/flecha.gif'); list-style-position: inside;">El Hotel Carolina del Mar es un establecimiento libre de humo de cigarrillo o de tabaco, fumar en las habitaciones o áreas públicas no está permitido, existen penalidades en caso de incumplir con esta norma.</li>
		<li style="list-style-image: url('/assets/iconos/flecha.gif'); list-style-position: inside;">Se permite el ingreso de mascotas. Para brindar un mejor servicio, por favor informar al realizar su reserva.</li>
		<li style="list-style-image: url('/assets/iconos/flecha.gif'); list-style-position: inside;">Hora del Check in 3:00 p.m. (Edad mínima para realizar check in 18 años).
		<li style="list-style-image: url('/assets/iconos/flecha.gif'); list-style-position: inside;">Hora del check out 1:00 p.m.</li>
		<li style="list-style-image: url('/assets/iconos/flecha.gif'); list-style-position: inside;">El Hotel Carolina del Mar se acoge a la ley 1329 y 1356 del 2009 para contrarrestar la explotación sexual comercial pornografía y turismo sexual de niños, niñas y adolescentes. Es indispensable presentar documentos de identidad del menor en el momento del check in.</li>
		<li style="list-style-image: url('/assets/iconos/flecha.gif'); list-style-position: inside;">Los cargos adicionales deben pagarse por separado durante la estancia en el hotel.*</li>
	</ul>
	<p><strong>IMPUESTOS.</strong></p>
	<ul>
		<li style="list-style-image: url('/assets/iconos/flecha.gif'); list-style-position: inside;">IVA del 16% no incluidos en la tarifa.</li>
		<li style="list-style-image: url('/assets/iconos/flecha.gif'); list-style-position: inside;">Los clientes colombianos o extranjeros residentes en el país han de abonar el IVA del 16% directamente en el hotel. La Exención de IVA de alojamiento solo aplicará a los huéspedes que tengan VISA TP-11 ó Permiso PI -5 / PTP–5.</li>
		<li style="list-style-image: url('/assets/iconos/flecha.gif'); list-style-position: inside;">Todo pasajero deberá abonar en el hotel el seguro hotelero por noche y persona.</li>
	</ul>
	<br>
</div>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
	
	  ga('create', 'UA-83732778-1', 'auto');
	  ga('send', 'pageview');
	
	</script>