<h2>DESCRIPCI&Oacute;N DE LA SOLICITUD</h2>
<br>
<table border="1" cellspacing="0" width="50%">
	<tr>
		<td width="30%"><strong>Nombre:</strong></td>
 		<td width="70%"><%= @datosSolicitud[:Nombre] %></td>
	</tr>
	<tr>
		<td><strong>Correo</strong></td>
		<td><%= @datosSolicitud[:Correo] %></td>
	</tr>
		<td><strong>Telefono</strong></td>
		<td><%= @datosSolicitud[:Telefono] %></td>
	</tr>
	<tr>
		<td><strong>Mensaje</strong></td>
		<td><%= @datosSolicitud[:Mensaje] %></td>
	</tr>
</table>
